.editIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.noteContent {
    white-space: pre;
}

.noteFooter {
    text-align: right;
    width: 100%;
    display: block;
    padding-right: 1rem;
}
