@page "/matchs/add"
@attribute [Authorize]

<div class="card">
    <div class="card-header">
        Add Match
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer">
        <NavLink class="btn btn-outline-secondary" href="matchs">
            <i class="fa fa-chevron-left"></i> Back
        </NavLink>
    </div>
</div>