<Modal @ref="modalRef">
    <ModalBackdrop />
    <EditForm Model="MatchJoin" OnValidSubmit="HandleValidSubmit">

    </EditForm>
    <ModalContent IsCentered="true">
        <ModalHeader>
            <ModalTitle>@Match?.Title</ModalTitle>
            <CloseButton Clicked="@Hide" />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>人數</FieldLabel>
                <NumericEdit TValue="int" Min="1" Max="100" @bind-Value="MatchJoin.Number" />
            </Field>
            <Field>
                <FieldLabel>備註</FieldLabel>
                <MemoEdit Rows="5"  Placeholder="跟主辦人說些什麼..." @bind-Text="MatchJoin.Remark" />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@Hide">取消</Button>
            <Button Color="Color.Primary" Clicked="@Confirm">確定</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

