.map_container {
    height: calc(100vh - 100px);
}

.weatherIcon {
    background-color: unset;
    border: none;
}

.weatherRainfall {
}

.coordinate {
    float: right;
}

.weather_menu {
    button {
        margin: 10px;
    }
}
