.map_container {
    height: calc(100vh - 100px);
}

.weatherIcon {
    background-color: unset;
    border: none;
    text-shadow: white 0.1em 0.1em 0.2em;
    > div {
        width: 50px;
        margin-top: -30px;
    }
}

.weatherRainfall {
    > div {
        width: fit-content;
        background-color: aliceblue;
    }
}

.earthquakeMark {
}

.coordinate {
    float: right;
}

.weather_menu {
    button {
        margin: 10px;
    }
}
